Q1. Create one variable containing following type of data:

(i) string

a = "Asish"

(ii) list

a = [1, 2, 3, 56, 'asish', True, 45.54, 3+28j]

(iii) float

a = 34.32

(iv) tuple

a = (1, 2, 34, 56, 78, 89.23, "Asish", True, 2+4j)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

String

(ii) var2 = ‘[ DS , ML , Python]’

String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

List

(iv) var4 = 1.

Intiger

Q3. Explain the use of the following operators using an example:

(i) /

In [24]:
# '/' operators is an arithmatic operators and is used to devide two intigers or floats
8/2

4.0

(ii) %

In [25]:
# '%' operator is an arithmatic operator and is used to get a remainder of a division
9%2

1

(iii) //

In [26]:
# '//' operator is an arithmatic operator and is used to Floor division is an operation in Python that allows us to divide two numbers and rounds the resultant value down to the nearest integer.
9//2

4

(iv) **

In [27]:
# '**' operator is an arithmatic intiger and is used to get the  perform the exponent arithmetic.
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [31]:
a = [23, 24, 24.34, 'Asish', True, 56, -89, 2+8j, 'Moharana']
for i in a :
    print(i)
    print(type(i))

23
<class 'int'>
24
<class 'int'>
24.34
<class 'float'>
Asish
<class 'str'>
True
<class 'bool'>
56
<class 'int'>
-89
<class 'int'>
(2+8j)
<class 'complex'>
Moharana
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a = int(input("Enter Number(divident) A"))
b = int(input("Enter Number(divisor) B"))
a1 = a

count = 0
if b == 0 :
    print("the divisor is zero")
else :
    while a-b >= 0:
        count += 1
        a = a-b
        if a == 0:
            print(f"{a1} is purely divisible by {b} -> {count} times")
            break
if a != 0 and a-b < 0:
    print(f"{a1} is not purely divisible by {b} -> {count} times with remainder {a}")

Enter Number(divident) A 8
Enter Number(divisor) B 5

8 is not purely divisible by 5 -> 1 times with remainder 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
l = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

for i in l :
    if i % 3 == 0 :
        print(i)
        print("Yes this Number is divisible by 3")
    else :
        print(i)
        print("No this Number is not divisible by 3")

2
No this Number is not divisible by 3
3
Yes this Number is divisible by 3
4
No this Number is not divisible by 3
5
No this Number is not divisible by 3
6
Yes this Number is divisible by 3
7
No this Number is not divisible by 3
8
No this Number is not divisible by 3
9
Yes this Number is divisible by 3
10
No this Number is not divisible by 3
11
No this Number is not divisible by 3
12
Yes this Number is divisible by 3
13
No this Number is not divisible by 3
14
No this Number is not divisible by 3
15
Yes this Number is divisible by 3
17
No this Number is not divisible by 3
18
Yes this Number is divisible by 3
19
No this Number is not divisible by 3
20
No this Number is not divisible by 3
21
Yes this Number is divisible by 3
22
No this Number is not divisible by 3
23
No this Number is not divisible by 3
24
Yes this Number is divisible by 3
25
No this Number is not divisible by 3
26
No this Number is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable
Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created.

In [8]:
# Example
tuple1 = (1, 2, 4, 56, "Asish", 78.28, 3+6j)
tuple1[3] = 45
print(tuple1)

TypeError: 'tuple' object does not support item assignment

Mutable
Mutable Objects are of type Python list, Python dict, or Python set. Custom classes are generally mutable.

In [10]:
# Example
list1 = [1, 2, 4, 56, "Asish", 78.28, 3+6j]
list1[3] = 45
print(list1)

[1, 2, 4, 45, 'Asish', 78.28, (3+6j)]